<html>
<head>
  <title>Stimulus Sandbox</title>
  <script src="/js/classtrophobic-es5.min.js"></script>
  <script src="/js/stimulus.umd.min.js"></script>
  <script src="/js/turbo.es5-umd.min.js"></script>
</head>
<body>
<turbo-frame id="title-frame" src="/title_frame">
  <p>This gets replaced</p>
</turbo-frame>
<span id="time-now">Current time</span>
<br />
<div id="items">
  <%= partial(:item, collection: settings.items) %>
</div>

<div data-controller="items">
  <input type="text" data-items-target="text" data-action="keydown->items#keydown">
  <button data-action="items#create"> Add item </button>
</div>

<script type="text/javascript">
var application = Stimulus.Application.start();

var Items = Class({
  extends: Stimulus.Controller,
  static: {
    targets : [ "text" ],
    values  : { id: Number }
  },
  create: function() {
    var textInput = this.textTarget;
    console.log("Adding " + this.textTarget.value);
    fetch("/items/create", {
      method: "POST",
      body: JSON.stringify({ text: this.textTarget.value })
    }).then(function() {
      textInput.value = "";
    });
  },
  keydown: function(event) {
    if (event.keyCode == 13) {
      this.create()
    }
  },
  delete: function() {
    console.log("Deleting " + this.idValue);
    fetch("/items/delete", {
      method: "POST",
      body: JSON.stringify({ id: this.idValue })
    })
  }
});
application.register("items", Items);

if (window["EventSource"] && window["Turbo"]) {
  Turbo.connectStreamSource(new EventSource("/turbo_stream"));
} else {
  console.warn("Turbo Streams over SSE not available");
}
</script>
</body>
</html>
