<div id="item_<%= item[:id] %>"
     data-controller="items"
     data-items-id-value="<%= item[:id] %>">
  <p>
    <%= item[:id] %>  <%= item[:text] %>
    <button data-action="items#delete:once">Delete</button>
  </p>
</div>
